<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SN-GPT</title>


    <link href="/bootstrap-5.3.1-dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/bootstrap-icons-1.10.5/font/bootstrap-icons.css">

    <script src="/marked.min.js"></script>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="/app.css">

</head>

<body>

    <main>


        <div class="container px-4 py-5" id="featured-3">
            <h2 class="pb-2 border-bottom">SN-GPT</h2>
            {{{body}}}
        </div>
    </main>


</body>

</html>