<form id="prompt-form" class="pending-form">
    <div class="mb-3">
        <label for="userPrompt" class="form-label">User prompt</label>
        <textarea class="form-control" id="user-prompt" rows="3"
            placeholder="Suggest 10 domain names for a web store that sells cats but not dogs."></textarea>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-right-square"></i> Submit</button>
</form>


<div class="mt-3 card">
    <div id="output" class="card-body"></div>
</div>